@import './App.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.bg-popover {
		--tw-bg-opacity: 1;
		background-color: rgb(255 255 255 / var(--tw-bg-opacity));
	}
	.text-popover-foreground {
		--tw-text-opacity: 1;
		color: rgb(40 39 46 / var(--tw-text-opacity));
	}

  /* Popover fade-in and upward transform animation */
  .popover-fade-in {
    opacity: 0;
    transform: translateY(16px);
    transition: opacity 0.4s cubic-bezier(0.4,0,0.2,1), transform 0.4s cubic-bezier(0.4,0,0.2,1);
  }
  .popover-fade-in[data-state="open"] {
    opacity: 1;
    transform: translateY(0);
  }
}